<!DOCTYPE html>
<html ng-app="fishApp">
<head>
		<title>Find That Fish</title>
		<script src="bower_components/angular/angular.js"></script>
		<script src="main.js"></script>
		<script src="factories.js"></script>
		<script src="controllers.js"></script>
		<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body ng-controller="fishController as fc">

<div id="content">

	<div id="splash">
		<h1>Find That Fish</h1>
		<img src="three_eyed_fish.png">
		<p class = "fishbase">Powered By:</p>
		<img class = "fishbase" src = "fishbase.gif">
		<button ng-click="fc.scrollTo('#classes')">Get Started!</button>
	</div>
	
	<div id="classes" class="button-row">
		<h3>Choose a Class: <small ng-bind="fc.class.name"></small></h3>
		<div class="slider">
			<div class="button-block" ng-repeat="cls in fc.classes">
				<button ng-click="fc.clickedClass(cls)" ng-class="{selected: cls.id==fc.class.id}">
					<img ng-src="http://fishbase.ca/identification/{{ cls.image }}" alt="{{ cls.name }}" height="140">
				</button>
			</div>
		</div>
	</div>
	<div id="orders" class="button-row">
		<h3>Choose an Order: <small ng-bind="fc.order.name"></small></h3>
		<div class="slider">
			<div class="button-block" ng-repeat="order in fc.orders">
				<button ng-click = "fc.clickedOrder(order)" ng-class="{selected: order.id==fc.order.id}"><img ng-src="http://fishbase.ca/identification/{{ order.image }}" alt="{{ order.name }}" height="140"></button>
			</div>
		</div>
	</div>
	<div id="families" class="button-row">
		<h3>Choose a Family: <small ng-bind="fc.family.name"></small></h3>
		<div class="slider">
			<div class="button-block" ng-repeat="family in fc.families">
				<button ng-click = "fc.clickedFamily(family)" ng-class="{selected: family.id==fc.family.id}"><img ng-src="http://fishbase.ca/identification/{{ family.image }}" alt="{{ family.name }}" height="140"></button>
			</div>
		</div>
	</div>
	<div id="species" class="button-row">
		<h3>Choose a Species: <small ng-bind="fc.currentSpecies.name"></small></h3>
		<div class="slider">
			<div class="button-block" ng-repeat="species in fc.species">
				<button ng-click="fc.clickedSpecies(species)" ng-class="{selected: species.id==fc.currentSpecies.id}">
					<img ng-src="http://fishbase.ca{{ species.image }}" alt="{{ species.name }}" height="140">
				</button>
			</div>
		</div>
	</div>
</div>

<div ng-click="fc.hideModal()" id="preview-modal">
	<div id="preview-modal-content">
		<img ng-src="http://fishbase.ca{{ fc.currentSpecies.image }}" alt="{{ fc.currentSpecies.name }}">
		<h3 ng-bind="fc.currentSpecies.sciName"></h3>
		<h2 ng-bind="fc.currentSpecies.commonName"></h2>
		<img ng-if="!!fc.currentSpecies.map" ng-src="http://fishbase.ca{{ fc.currentSpecies.map }}" alt="Map">
	</div>
</div>

</body>

<script src="bower_components/jquery/dist/jquery.js"></script>

</html>