/*
	orange: 	F38630
	white: 		DEDEDC
	light-blue: 082A84
	blue:		091D5C




*/

*{
	margin: 0px;
	padding: 0px;
	font-family: arial;
}

html, body, #content {
	width: 100%;
	height: 100%;
}
h1 {
	font-size: 48px;
}

h1, h3, p {
	color: #091D5C;
	margin: 4px;
	text-align: center;
}

#splash {
	padding: 48px;
}

#splash * {
	display: block;
	margin: 4px auto;
}
#splash button {
	margin-top: 42px;
	color: #091D5C;
	font-weight: bold;
	padding: 18px;
	background-color: white;
	font-size: 38px;
}
#splash .fishbase{
	font-size: 10px;
	width: 100px;
	vertical-align: bottom;
}
.fishbase p{
	/*display: inline-block;*/
}
#splash img.fishbase{
	width: 100px;
	/*display: inline-block;*/
}
#splash{
	background-color: #091D5C;
	padding-bottom: 30%;
}
#splash h1, p{
	color: white;
}

small {
	font-style: italic;
}

body {
	/*background-color: #091D5C;*/
}

.button-row {
	width: 100%;
	display: block;
	background-color: #DEDEDC;
	padding-bottom: 60px; 
}

.slider {
	height: 160px;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

.button-row h3 {
	margin: 0 0 12px 0;
	padding: 24px;
	background-color: white;
	border-top: 1px solid #091D5C;
	border-bottom: 1px solid #091D5C;
	margin-bottom: 60px;
}
.button-block {
	display: inline-block;
	margin-left: 1%;
	/*padding-top:px; */
}

button {
	padding: 8px;

}

img {
	/*border: 2px solid #022A68;*/
}

button, button img {
	background-color:#091D5C;
	/*border-radius: 20px;*/
}
button.selected {
	background-color: #F38630;
}

#preview-modal {
	visibility: hidden;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: scroll;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	padding: 10% 0;
	text-align: center;
}

#preview-modal-content {
	display: inline-block;
	background-color: white;
	margin: auto;
	overflow-y: scroll;
	border: 1px solid #888;
	text-align: center;
}
#preview-modal-content * {
	width: 100%;
	margin: 24px auto;
}

.previous {
	width:25px;
	float: left;
}


